praktijkopdrachtService/WebContent/wsdl/crudZonnepaneelSOAP.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://DefaultNamespace">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://DefaultNamespace">
			<xsd:element name="createZP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serienummer" type="xsd:int"/>
						<xsd:element name="postcode" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createZPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="deleteZP">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serienummer" type="xsd:int"/>
						<xsd:element name="postcode" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="deleteZPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="updateZP">
				<xsd:complexType>
				<xsd:sequence>
		 				<xsd:element name="serienummer" type="xsd:string"/>
						<xsd:element name="postcode" type="xsd:string"/>
				</xsd:sequence>	
				
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateZPResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="createZPResponse">
		<wsdl:part element="impl:createZPResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="createZPRequest">
		<wsdl:part element="impl:createZP" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="deleteZPResponse">
		<wsdl:part element="impl:deleteZPResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="deleteZPRequest">
		<wsdl:part element="impl:deleteZP" name="parameters"/>
	</wsdl:message>
	
	<wsdl:message name="updateZPResponse">
		<wsdl:part element="impl:updateZPResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="updateZPRequest">
		<wsdl:part element="impl:updateZP" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="crudZonnepaneel">
		<wsdl:operation name="createZP">
			<wsdl:input message="impl:createZPRequest" name="createZPRequest"/>
			<wsdl:output message="impl:createZPResponse" name="createZPResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="deleteZP">
			<wsdl:input message="impl:deleteZPRequest" name="deleteZPRequest"/>
			<wsdl:output message="impl:deleteZPResponse" name="deleteZPResponse"/>
		</wsdl:operation>
		
		<wsdl:operation name="updateZP">
			<wsdl:input message="impl:updateZPRequest" name="updateZPRequest"/>
			<wsdl:output message="impl:updateZPResponse" name="updateZPResponse"/>
		</wsdl:operation>
		
	</wsdl:portType>
	
	
	
	<wsdl:binding name="crudZonnepaneelSOAPBinding" type="impl:crudZonnepaneel">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="createZP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="deleteZP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="updateZP">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>
	<wsdl:service name="crudZonnepaneel">
		<wsdl:port binding="impl:crudZonnepaneelSOAPBinding" name="crudZonnepaneelSOAP">
			<wsdlsoap:address location="http://localhost:8080/praktijkopdrachtService/services/crudZonnepaneelSOAP"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
